/* Reset & Basics -------------------------------------------------------------------- */
 html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    display:block
}
 body{
    line-height:1
}
 ol,ul{
    list-style:none
}
 blockquote,q{
    quotes:none
}
 blockquote:before,blockquote:after,q:before,q:after{
    content:'';
    content:none
}
 table{
    border-collapse:collapse;
    border-spacing:0
}
/* Basic Styles ---------------------------------------------------------------------- */
 html{
    height:100%
}
 body{
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%
}
/* Typography ------------------------------------------------------------------------ */
 h1,h2,h3,h4,h5,h6{
    margin-bottom:15px
}
 h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    font-weight:inherit
}
 h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover{
    text-decoration:none
}
 p{
    margin:0 0 15px
}
 em,i{
    font-style:italic
}
 b,strong,dt{
    font-weight:700
}
 big,.big{
    font-size:110%;
    line-height:180%
}
/* Links ----------------------------------------------------------------------------- */
 a, a:visited, a:focus{
    text-decoration:none;
    outline:0
}
 a:hover{
    text-decoration:underline
}
 p a, p a:visited{
    line-height:inherit
}
/* Images ---------------------------------------------------------------------------- */
 img.scale-with-grid,#Content img{
    max-width:100%;
    height:auto
}
/* Buttons --------------------------------------------------------------------------- */
 a.button_js {
    display:inline-block;
    padding:11px 20px;
    margin-bottom:15px;
    cursor:pointer;
    margin-right:7px;
    border:0;
    border-radius:5px;
    position:relative;
    overflow:hidden;
    box-shadow:inset 0 0 0 1px rgba(0,0,0,.03);
    background-image:url(../images/box_shadow_button.png);
    background-repeat:repeat-x
}
 a.button_js{
    padding:0
}
 @media only screen and (min-width: 768px){
     a:hover.button,a:hover.tp-button{
        text-decoration:none
    }
     a.button:after,a.tp-button:after,a.action_button:after,button:after, input[type="submit"]:after,input[type="reset"]:after,input[type="button"]:after{
        content:"";
        position:absolute;
        left:0;
        top:0;
        height:100%;
        width:0;
        background:rgba(0,0,0,.05);
        z-index:1;
        transition:all .3s
    }
     a.button:hover:after,a.tp-button:hover:after,a.action_button:hover:after,button:hover:after, input[type="submit"]:hover:after,input[type="reset"]:hover:after,input[type="button"]:hover:after{
        width:100%
    }
}
/* Icons ----------------------------------------------------------------------------- */
 @font-face{
    font-family:'mfn-icons';
    src:url(../fonts/mfn-icons.eot?93978679);
    src:url(../fonts/mfn-icons.eot?93978679#iefix) format("embedded-opentype"),url(../fonts/mfn-icons.woff?93978679) format("woff"),url(../fonts/mfn-icons.ttf?93978679) format("truetype"),url(../fonts/mfn-icons.svg?93978679#mfn-icons) format("svg");
    font-weight:400;
    font-style:normal
}
 [class^="icon-"]:before,[class*=" icon-"]:before{
    font-family:"mfn-icons";
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:none!important;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em
}
.icon-menu-fine:before {
  content: '\e960';
}
.icon-search-fine:before {
  content: '\e962';
}
.icon-cancel-fine:before {
  content: '\e963';
}
.icon-rss:before {
  content: '\e91a';
}

.icon-search:before {
  content: '\e91b';
}

.icon-search-line:before {
  content: '\e91c';
}

.icon-share:before {
  content: '\e91d';
}

.icon-shareable:before {
  content: '\e91e';
}
.icon-link:before {
  content: '\e8c2';
}

.icon-list:before {
  content: '\e8c3';
}

.icon-list-add:before {
  content: '\e8c4';
}
.icon-layout:before {
  content: '\e8b1';
}

.icon-leaf:before {
  content: '\e8b2';
}

.icon-left:before {
  content: '\e8b3';
}

.icon-left-bold:before {
  content: '\e8b4';
}

.icon-left-circled:before {
  content: '\e8b5';
}

.icon-left-dir:before {
  content: '\e8b6';
}

.icon-left-open:before {
  content: '\e8b7';
}

.icon-left-open-big:before {
  content: '\e8b8';
}

.icon-left-open-mini:before {
  content: '\e8b9';
}
.icon-up-dir:before {
  content: '\e944';
}

.icon-up-open:before {
  content: '\e945';
}

.icon-up-open-big:before {
  content: '\e946';
}

.icon-up-open-mini:before {
  content: '\e947';
}
.icon-down-open:before {
    content: '\e867';
}
.icon-chrome:before {
  content: '\f268';
}

.icon-scribd:before {
  content: '\f28a';
}

.icon-github:before {
  content: '\f300';
}

.icon-flickr:before {
  content: '\f303';
}

.icon-flickr-circled:before {
  content: '\f304';
}

.icon-vimeo:before {
  content: '\f306';
}

.icon-vimeo-circled:before {
  content: '\f307';
}

.icon-twitter:before {
  content: '\f309';
}

.icon-twitter-circled:before {
  content: '\f30a';
}

.icon-facebook:before {
  content: '\f30c';
}

.icon-facebook-circled:before {
  content: '\f30d';
}

.icon-facebook-squared:before {
  content: '\f30e';
}

.icon-pinterest:before {
  content: '\f312';
}

.icon-pinterest-circled:before {
  content: '\f313';
}

.icon-tumblr-circled:before {
  content: '\f316';
}

.icon-linkedin:before {
  content: '\f318';
}

.icon-linkedin-circled:before {
  content: '\f319';
}
.icon-weibo:before {
  content: '\e958';
}

.icon-wikipedia:before {
  content: '\e959';
}

.icon-window:before {
  content: '\e95a';
}

.icon-wordpress:before {
  content: '\e95b';
}

.icon-xing:before {
  content: '\e95c';
}

.icon-yahoo:before {
  content: '\e95d';
}

.icon-yelp:before {
  content: '\e95e';
}

.icon-youtube:before {
  content: '\e95f';
}
.icon-bag-fine:before {
  content: '\e961';
}
.icon-plus-fine:before {
  content: '\e964';
}

.icon-minus-fine:before {
  content: '\e965';
}

.icon-gplus-circled:before {
  content: '\f059';
}

.icon-github-circled:before {
  content: '\f09b';
}

.icon-gplus:before {
  content: '\f0d5';
}

.icon-comment-empty-fa:before {
  content: '\f0e5';
}

.icon-instagram:before {
  content: '\f16d';
}

.icon-tumblr:before {
  content: '\f173';
}

.icon-windows:before {
  content: '\f17a';
}
.icon-play:before {
  content: '\e8f9';
}

.icon-plurk:before {
  content: '\e8fa';
}

.icon-plus:before {
  content: '\e8fb';
}

.icon-plus-circled:before {
  content: '\e8fc';
}

.icon-plus-squared:before {
  content: '\e8fd';
}
.icon-doc:before {
  content: '\e85a';
}

.icon-doc-landscape:before {
  content: '\e85b';
}

.icon-doc-line:before {
  content: '\e85c';
}

.icon-doc-text:before {
  content: '\e85d';
}

.icon-doc-text-inv:before {
  content: '\e85e';
}

.icon-docs:before {
  content: '\e85f';
}

.icon-dot:before {
  content: '\e860';
}

.icon-dot-2:before {
  content: '\e861';
}

.icon-dot-3:before {
  content: '\e862';
}
// Lionel
 .gform_confirmation_wrapper .gform_confirmation_message{
    border-radius:5px;
    margin-bottom:30px;
    padding:20px;
    background:#80B736;
    color:#fff
}
 .-holder .mfp-content,.mfp-ajax-holder .mfp-content{
    width:100%;
    cursor:auto
}
 #tribe-bar-form{
    background-image:url(../images/stripes/stripes_5_b.png)
}
/* UI Datepicker --------------------------------------------------------------------- */
/* Grid 1240px ----------------------------------------------------------------------- */
 body{
    min-width:960px
}
 body.admin-bar{
    position:relative
}
 #wpadminbar ~ div:nth-last-child(2){
    height:auto!important
}
 #Wrapper{
    max-width:1240px;
    margin:0 auto;
    overflow:hidden;
    box-shadow:0 0 15px rgba(0,0,0,.06)
}
 .layout-boxed{
    padding:25px 0
}
 .layout-boxed.boxed-no-margin{
    padding:0
}
 .layout-full-width{
    padding:0
}
 .layout-full-width #Wrapper{
    max-width:100%!important;
    width:100%!important;
    margin:0!important
}
 #Content{
    width:100%;
    padding-top:30px
}
 #Content.no-padding,.template-slider #Content,.with_aside #Content{
    padding-top:0
}
 .with_aside .sections_group{
    padding-top:30px
}
 .section{
    position:relative
}
 .section_wrapper,.container{
    max-width:1220px;
    margin:0 auto;
    position:relative
}
 .section.full-width > .section_wrapper{
    max-width:100%!important;
    padding-left:0!important;
    padding-right:0!important
}
 .section_wrapper:after,.container:after{
    clear:both;
    content:" ";
    display:block;
    height:0;
    visibility:hidden
}
 .mcb-wrap{
    float:left;
    position:relative;
    z-index:1;
    box-sizing:border-box
}
 .mcb-wrap.move-up{
    z-index:28
}
 .mcb-wrap.divider{
    width:100%;
    height:0!important
}
 .column,.columns{
    float:left;
    margin:0 1% 40px
}
 .the_content_wrapper{
    margin:0 1%
}
 .column_content .the_content_wrapper{
    margin:0
}
 .sidebar,.widget-area{
    box-sizing:border-box
}
/* Wrap | Equal Height */
 .equal-height-wrap .mcb-wrap .mcb-wrap-inner{
    position:relative;
    float:left;
    width:100%
}
 .equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner{
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform:translateY(-50%)
}
 .equal-height-wrap .mcb-wrap.valign-bottom .mcb-wrap-inner{
    top:100%;
    -webkit-transform:translateY(-100%);
    -moz-transform:translateY(-100%);
    -ms-transform:translateY(-100%);
    -o-transform:translateY(-100%);
    transform:translateY(-100%)
}
/* Sizes ----------------------------------------------------------------------------- */
/* .mcb-wrap */
 .one-sixth.mcb-wrap {
     width: 16.666%;
}
/* 1/6 */
 .one-fifth.mcb-wrap {
     width: 20%;
}
/* 1/5 */
 .one-fourth.mcb-wrap {
     width: 25%;
}
/* 1/4 */
 .one-third.mcb-wrap {
     width: 33.333%;
}
/* 1/3 */
 .two-fifth.mcb-wrap {
     width: 40%;
}
/* 2/5 */
 .one-second.mcb-wrap {
     width: 50%;
}
/* 1/2 */
 .three-fifth.mcb-wrap {
     width: 60%;
}
/* 3/5 */
 .two-third.mcb-wrap {
     width: 66.666%;
}
/* 2/3 */
 .three-fourth.mcb-wrap {
     width: 75%;
}
/* 3/4 */
 .four-fifth.mcb-wrap {
     width: 80%;
}
/* 4/5 */
 .five-sixth.mcb-wrap {
     width: 83.333%;
}
/* 5/6 */
 .one.mcb-wrap {
     width: 100%;
}
/* 1/1 */
/* .column */
 .one-sixth.column {
     width: 14.666%;
}
/* 1/6 */
 .one-fifth.column {
     width: 18%;
}
/* 1/5 */
 .one-fourth.column, .four.columns {
     width: 23%;
}
/* 1/4 */
 .one-third.column {
     width: 31.333%;
}
/* 1/3 */
 .two-fifth.column {
     width: 38%;
}
/* 2/5 */
 .one-second.column {
     width: 48%;
}
/* 1/2 */
 .three-fifth.column {
     width: 58%;
}
/* 3/5 */
 .two-third.column {
     width: 64.666%;
}
/* 2/3 */
 .three-fourth.column {
     width: 73%;
}
/* 3/4 */
 .four-fifth.column {
     width: 78%;
}
/* 4/5 */
 .five-sixth.column {
     width: 81.333%;
}
/* 5/6 */
 .one.column {
     width: 98%;
}
/* 1/1 */
 .section.full-width > .one.column, .section.full-width > .section_wrapper > .one.column, .section.full-width .one.wrap .one.column{
    width:100%;
    margin:0
}
/* Column ---------------------------------------------------------------------------- */
/* Column | Margin - Horizontal */
 .no-margin-h .column {
     margin-left:0;
     margin-right:0;
}
 .no-margin-h .one-sixth.column {
     width: 16.666%;
}
/* 1/6 */
 .no-margin-h .one-fifth.column {
     width: 20%;
}
/* 1/5 */
 .no-margin-h .one-fourth.column {
     width: 25%;
}
/* 1/4 */
 .no-margin-h .one-third.column {
     width: 33.333%;
}
/* 1/3 */
 .no-margin-h .two-fifth.column {
     width: 40%;
}
/* 2/5 */
 .no-margin-h .one-second.column {
     width: 50%;
}
/* 1/2 */
 .no-margin-h .three-fifth.column {
     width: 60%;
}
/* 3/5 */
 .no-margin-h .two-third.column {
     width: 66.666%;
}
/* 2/3 */
 .no-margin-h .three-fourth.column {
     width: 75%;
}
/* 3/4 */
 .no-margin-h .four-fifth.column {
     width: 80%;
}
/* 4/5 */
 .no-margin-h .five-sixth.column {
     width: 83.333%;
}
/* 5/6 */
 .no-margin-h .one.column {
     width: 100%;
}
/* 1/1 */
/* Column | Margin - Bottom */
/* set in section options */
 .column.column_divider {
    margin-bottom:0!important;
    height:auto!important
}
 .column-margin-0px .column {
     margin-bottom: 0 !important;
}
 .column-margin-10px .column {
     margin-bottom: 10px !important;
}
 .column-margin-20px .column {
     margin-bottom: 20px !important;
}
 .column-margin-30px .column {
     margin-bottom: 30px !important;
}
 .column-margin-40px .column {
     margin-bottom: 40px !important;
}
 .column-margin-50px .column {
     margin-bottom: 50px !important;
}
/* set in item options */
 .column-margin-0px.column {
     margin-bottom: 0 !important;
}
 .column-margin-10px.column {
     margin-bottom: 10px !important;
}
 .column-margin-20px.column {
     margin-bottom: 20px !important;
}
 .column-margin-30px.column {
     margin-bottom: 30px !important;
}
 .column-margin-40px.column {
     margin-bottom: 40px !important;
}
 .column-margin-50px.column {
     margin-bottom: 50px !important;
}
/* Column | Equal Height */
 .equal-height .column .column_attr{
    height:100%;
    box-sizing:border-box
}
/* Column | Align */
 .column_attr.align_left{
    text-align:left
}
 .column_attr.align_right{
    text-align:right
}
 .column_attr.align_center{
    text-align:center
}
 .column_attr.align_justify{
    text-align:justify
}
/* Extra Content */
 .extra_content .the_content_wrapper{
    margin:0 1%
}
 .extra_content .has_content .the_content_wrapper,.extra_content .category_description .the_content_wrapper{
    margin-bottom:40px
}
/* Clearing -------------------------------------------------------------------------- */
 .container:after{
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}
 .clearfix:before,.clearfix:after{
    content:'\0020';
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}
 .clearfix:after{
    clear:both
}
 .clearfix{
    zoom:1
}
 .clear{
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0
}
// Lionel
.wp-caption-text {
    display: block;
}
@media only screen and (max-width: 1239px) and (min-width: 960px) {
  .container {
      max-width: none;
  }
}
