.Latest_news_dm .blog-photo a, .fomat1-row2  a {
	display: inline-block;
	overflow: hidden;
}
@media screen and (max-width:1024px){
	.fomat1-row2  a {
		max-height: 258px;
	}
	.Latest_news_dm .blog-photo a {
	    max-height: 146px;
	}
}
@media screen and (max-width:768px){
	.fomat1-row2  a {
		max-height: 195px;
	}
	.Latest_news_dm .blog-photo a {
	    max-height: 135px;
	}	
}
@media screen and (max-width:600px){
	.fomat1-row2  a {
		max-height: 140px;
	}
	.Latest_news_dm .blog-photo a {
	    max-height: 125px;
	}	
}
@media screen and (max-width:414px){
	.fomat1-row2  a {
		max-height: 100px;
	}
	.Latest_news_dm .blog-photo a {
	    max-height: 100px;
	}
}
@media screen and (max-width:360px){
	.fomat1-row2 a {
	    max-height: 75px;
	}
	.Latest_news_dm .blog-photo a {
	    max-height: 85px;
	}	
}