body:not(.template-slider):not(.header-simple) #Header {
     min-height: 0px !important;
}
/**HOME MOBILE**/
 .home #Content {
     padding-top: 0px;
}
 .fomat1-row2 {
     display: flex;
     flex-wrap: wrap;
     padding: 0 10px;
}
.ul-first_dm {
     padding: 0 10px;
}
 .fomat1-row2 .item-fomat-1 {
     width: 49%;
}
 .fomat1-row2 .item-fomat-1:nth-child(2n+1) {
     margin-right: 2%;
}
 .fomat1-container .item-1 h4 {
     background-color: #5c5c5c;
     color: #FFF;
     font-size: 17px;
     padding: 6px 6px 5px 6px;
     text-indent: 0;
     font-weight: bold;
     overflow: hidden;
     margin-bottom: 10px;
     text-align: center;
}
 .fomat1-container .item-1 h4 a {
     color: #fff;
}
 .fomat1-container .item-1>a {
     display: flex;
}
 .fomat1-row2 .blog-desc h4 {
     font-size: 12px;
     font-family: Arial;
     font-weight: bold;
     color: #433333;
     line-height: 15px;
     padding: 0px 5px 0px 5px;
}
 .fomat1-row2 .item-fomat-1 {
     background: #ebebeb;
     margin-bottom: 10px;
}
 .Latest_news_dm .ul-first_dm .home-new {
     display: flex;
}
 .Latest_news_dm .ul-first_dm .home-new .blog-photo {
     margin-right: 2%;
}
 .Latest_news_dm .ul-first_dm .home-new .blog-desc {
     width: 69%;
}
 .Latest_news_dm .ul-first_dm .home-new .blog-desc h4 {
     margin-bottom: 5px;
}
 .Latest_news_dm .ul-first_dm .time-post {
     font-size: 12px;
     color: #999;
     margin-top: 5px;
     display: flex;
     flex-wrap: wrap;
}
 .Latest_news_dm .ul-first_dm .time-post p {
     margin-bottom: 3px;
}
 .Latest_news_dm .ul-first_dm .time-post p:nth-child(2) a {
     padding: 0 5px;
}
 .Latest_news_dm .ul-first_dm .home-new {
     display: flex;
     border-bottom: 1px solid #e8e8e8;
     margin-bottom: 10px;
}
 .Latest_news_dm .ul-first_dm .home-new:last-child {
     border-bottom: 0px solid;
}
/**END HOME MOBILE**/
 #Footer .widgets_wrapper .widget {
     padding: 0px 0;
}
 #text-2 p {
     margin-bottom: 0px;
}
 .footer-title-tt {
     text-align: center;
     background: #C61D23;
     color: #ffffff;
     padding: 20px 5px;
     border-bottom: 1px solid #ffffff;
     font-size: 16px;
     font-weight: bold;
}
 .footer-show-tt {
     display: none;
     br {
         display: none; 
     }
}
 .footer-title-tt .icon-down-open.ac-hide, .footer-title-tt .icon-up-open {
     display: none;
}
 .footer-title-tt .icon-up-open.ac-block {
     display: inline-block;
}
 .footer-show-tt.active {
     display: block;
}
 .footer-title-tt a {
     color: #ffffff !important;
     margin-right: 2px;
}
 .lienhe-main-tt {
     padding: 10px;
}
 .lienhe-main-tt h4 {
     text-transform: uppercase;
     margin-top: 10px;
     color: #333 !important;
}
 .lienhe-main-tt ul li {
     text-align: center;
     list-style: none;
     background: #E5E5E5;
     margin-bottom: 10px;
     padding: 5px 5px;
}
 .lienhe-main-tt ul {
     padding-left: 0px;
     margin-bottom: 35px;
}
 .lienhe-main-tt ul li a {
     color: #000;
     font-weight: 300;
     display: block;
     padding: 15px 0;
}
 .lienhe-main-tt ul li a span {
     font-weight: bold;
}
/**Gá»ŒI KHIáº¾U Náº I**/
 .custom-footer-khieunai .footer-show-tt {
     text-align: center;
     padding: 10px;
}
 .custom-footer-khieunai .footer-show-tt a {
     color: #000;
     font-weight: 400;
     line-height: 20px;
}
 .custom-footer-khieunai .footer-show-tt a p:nth-child(2), .custom-footer-khieunai .footer-show-tt a p:nth-child(3) {
     font-weight: bold;
     font-size: 16px;
     margin: 5px 0;
}
/**ThÃ´ng tin khÃ¡c**/
 .custom-footer-moreinfo .footer-show-tt ul {
     padding: 0;
     margin:0;
}
 .custom-footer-moreinfo .footer-show-tt ul li {
     list-style-type: none;
     border-bottom: 1px solid #ccc;
     text-align: center;
}
 .custom-footer-moreinfo .footer-show-tt ul li a {
     display: block;
     padding: 20px 0;
     color: #000;
     font-size: 16px;
     font-weight: 400;
}
/**WEBSITE CÃ™NG Há»† THá»NG**/
 .custom-footer-websiteht .footer-show-tt ul {
     padding: 0;
     margin: 0;
}
 .custom-footer-websiteht .footer-show-tt ul li {
     padding: 15px 10px 15px;
     border-bottom: 1px solid #ccc;
}
 .custom-footer-websiteht .footer-show-tt ul li p {
     margin-bottom: 0px;
}
 .custom-footer-websiteht .footer-show-tt ul li a {
     display: flex;
     align-items: center;
     color: #000;
     font-weight: 400;
     line-height: 20px;
}
 .custom-footer-websiteht .footer-show-tt ul li a span {
     color: #000;
     text-decoration: underline;
}
 .custom-footer-websiteht .footer-show-tt ul li a img {
     margin-right: 15px;
}
/**Theo dÃµi chÃºng tÃ´i**/
 .custom-footer-followme ul {
     padding: 0;
     margin: 0;
}
 .custom-footer-followme ul li {
     list-style-type: none;
     text-align: center;
     border-bottom: 1px solid #ccc;
}
 .custom-footer-followme ul li a {
     color: #000;
     display: block;
     padding: 15px 0;
}
 .custom-footer-followme ul li a span {
     padding: 5px;
}
 .custom-footer-followme ul li a span:nth-child(1) {
     font-size: 30px;
}
 .custom-footer-followme ul li a .zmdi-facebook-box {
     color: #3D5A96;
}
 .custom-footer-followme ul li a .zmdi-youtube-play {
     color: #CF181D;
}
 .custom-footer-followme ul li a span:nth-child(2) {
     font-size: 20px;
}
/*hotline after footer*/
 #Footer .container {
     padding-left: 0 !important;
     padding-right: 0 !important;
}
 #Top_bar a.responsive-menu-toggle i {
     color: #fff;
}
/**********************#### END TUáº¤N TECH Sá»¬A FOOTER*************************************************************/
/*####RESPONSIVE*/
 @media screen and (max-width:768px){
     #Content .section_wrapper {
         padding-left: 10px !important;
         padding-right: 10px !important;
    }
}
// Style Loadmore
.Latest_news_dm  {
    >.loadmore {
        padding: 10px 20px;
        background-color: #d62727;
        text-align: center;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 20px;
    }
    &:hover {
          >.loadmore {
               background-color: #5783dc;
          }
    }
}