#slider-wrap {
	position:relative;
	margin: 25px 0;
	ul#slider{
		display: flex;
		position:relative;
		li{
			display: block;
			>img {
				min-height: 100%;
			}
		}
	}
}
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.1);
	z-index:100;
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
	&:hover{
		background:rgba(0,0,0,0.3);	
	}
}
#next{
	right:10px; 
	border-radius:7px 0px 0px 7px;
	>i {
		color: #ffffff;
	}
}
#previous{
	left: 10px; 
	border-radius:0px 7px 7px 7px;
	>i {
		color: #ffffff;
	}
}
#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
	color: #ffffff;
}
#slider-wrap.active {
	#next{
		right:0px;
	}	
	#previous{
		left:0px;
	}
}
/*bar*/
#pagination-wrap{
	z-index: 5;
    bottom: 15px;
    position: absolute;
    display: block;
    left: 50%;
    transform: -webkit-translateX(-50%);  
	transform: -moz-translateX(-50%);
	transform: -khtml-translateX(-50%); 
	transform: -ms-translateX(-50%);
	li{
		margin: 0 4px;
		display: inline-block;
		width:5px;
		height:5px;
		border-radius:50%;
		background:#fff;
		opacity:0.5;
		position:relative;
	  	top:0; 
	  	&.active{
			width:12px;
			height:12px;
			top:3px;
			opacity:1;
			box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
		}
	}
}
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}